* {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

.header {
    background-color: #7396ff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    width: 100%;
}

.navList {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding: 0;
    margin: 0;
    width: 100%;
}

.li {
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}

.link {
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}

.link:hover {
    color: black;
}

.a {
    text-decoration: none;
    color: white;
}

.a:hover {
    color: black;
}
