* {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

.header {
    background-color: #7396ff;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.navList {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding: 0;
    margin: 0;
    width: 100%;
}

.li {
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}

.link {
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}

.link:hover {
    color: black;
}


.hamb {
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 40px;
}

.hambLine {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    margin: 5px 0;
}

.hambLine::before, .hambLine::after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hambLine::before {
    top: 5px;
}

.hambLine::after {
    top: -5px;
}

.sideMenu {
    display: none;
}

.sideMenu:checked ~ .nav .navList {
    max-height: 300px;
}

.sideMenu:checked ~ .hamb .hambLine {
    background: transparent;
}

.sideMenu:checked ~ .hamb .hambLine::before {
    transform: rotate(-45deg);
    top: 0;
}

.sideMenu:checked ~ .hamb .hambLine::after {
    transform: rotate(45deg);
    top: 0;
}


@media (max-width: 768px) {
    .header {
        padding: 2px 0 2px 15px;
        height: 50px;
        width: 96.2%;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        background-color: #7396ff;
        position: absolute;
        width: 96%;
        top: 50px;
        left: 0;
        padding: 0;
        padding-left: 15px;
    }

    .navList {
        flex-direction: column;
        width: 95%;
        gap: 10px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }

    .sideMenu:checked ~ .nav .navList {
        max-height: 300px;
        padding: 10px 0 10px 10px;
    }

    .li {
        font-size: 20px;
        width: 100%;
    }

    .link {
        font-size: 20px;
    }

    .hamb {
        display: flex;
        align-self: flex-end;
        width: fit-content;
        height: 30px;
        margin-top: 8px;
    }
}

@media (min-width: 769px) {
    .hamb {
        display: none;
    }
    .link {
        color: white;
        font-weight: bold;
        font-size: 24px;
        text-decoration: none;
    }
}
