.footer {
    background-color: #ebf0ff;
    width: 100%;
    position: relative;
    padding-top: 15px;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    gap: 150px;
    margin: 10px;
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.link {
    color: black;
    text-decoration: underline;
    font-size: 18px;
    margin: 0;
}

.link:hover {
    color: #7396ff;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 8px;
}

.logos img{
    vertical-align: top;
}

.logoVk {
    height: 44px;
    width: 44px;
}

.logoTg {
    height: 40px;
    width: 40px;
}

.logoWhatsup {
    height: 47px;
    width: 47px;
    margin-left: 2px;
}

.logoVk, .logoTg, .logoWhatsup {
    display: block;
    margin-bottom: 0;
}

.h4 {
    font-size: 20px;
    color: black;
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
}

.p {
    text-align: center;
    font-size: 16px;
    margin: 0;
    color: black;
    padding: 1px;
}

@media (max-width: 768px) {
    .link {
        font-size: 14px;
    }

    .navigation {
        padding: 0;
    }

    .h4 {
        font-size: 16px;
    }

    .footerContainer {
        gap: 60px;
    }

    .logoVk {
        height: 30px;
        width: 30px;
    }
    
    .logoTg {
        height: 28px;
        width: 28px;
    }
    
    .logoWhatsup {
        height: 34px;
        width: 34px;
    }
    
    .p {
        font-size: 12px;
    }
}