.footer {
    background-color: #ebf0ff;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 150px;
}

.navigation {
    display: flex;
    flex-direction: column;
}

.a {
    text-decoration: underline;
    font-size: 18px;
    margin: 0;
    color: black;
}
.a:hover {
    color: #7396ff;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.logoVk {
    height: 46px;
    width: 46px;
}

.logoTg {
    height: 42px;
    width: 42px;
}

.logoWhatsup {
    height: 50px;
    width: 50px;
    margin-left: 2px;
}

.h4 {
    font-size: 20px;
    color: black;
    margin: 0;
}

.p {
    text-align: center;
    font-size: 16px;
    margin: 0;
    color: black;
    padding: 1px;
}

.footerContainer {
    margin: 30px;
}